.scroll-table {
  overflow: auto;
}
.pdf-show-table {
  th {
    background-color: #f8f8f9;
    border: 1px solid #EBEEF5;
    padding: 10px 15px;
    white-space: nowrap;
  }
}
.tc {
  text-align: center;
}
